html {
  font-size: 14px;
  font-family:Poppins;
}

/*Header css*/


/*footer section */
.footer{
    position:static !important;
}

/*main sections*/

.content {
    display:flex;
    flex-direction:column;
}

.content h1{
    color:#fff;
    font-size:4rem;
    font-weight:bold;

}



/*Hero Sections*/
.bg-image {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),url('../images/2.jpeg');
    /*    background-attachment:fixed;*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    
    padding:8px 22px;
    background:black;
    color:#fff;
    font-size:18px;
    text-decoration:none;
}

/*ticketing section*/
.ticket-section{
    max-width:50%;
}


