@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="w-100">
   <div class="">
       <div class="bg-image">
            <div class="content text-center container">
               <h1 class=""> Welcome To The Hospital Ticketing System</h1>
                <p class="text-white fs-5 opacity-75">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
               <div class="d-flex justify-content-center align-items-center gap-2 mt-3">
                    <a href="/ticket" class="btn btn-dark">
                        Get Ticket
                    </a>
                    <a href="#" class="btn btn-dark">
                        Visit Website
                    </a>
               </div>
           </div> 
       </div>
   </div>
</div>
